{% extends 'base.html.twig' %}






{% block body %}


    <div class="slider">
        <div class="img-responsive">
            <ul class="bxslider">
                <li><img src="../bundles/app/img/crkva6.jpg" alt=""/></li>
                <li><img src="../bundles/app/img/110img2.jpg" alt=""/></li>
                <li><img src="../bundles/app/img/test.v1.jpg" alt=""/></li>			
            </ul>
        </div>	
    </div>

    <div class="jumbotron">
        
        <p>
             - Сматрај сваки дан као један цео, отпочет и завршен живот. Одживи га као целину а не као део.<br>
             Нек се сваки твој дан одрони од тебе као цео један човек са којим ћеш желети да се опет састанеш
             <br>као са пријатељем и да га без стида покажеш васиони.              
        </p>
        <h2>Владика Николај Велимировић</h2>
    </div>

    <div class="container">
        <div class="col-md-6" >
            <img src="../bundles/app/img/test.jpg" alt="" class="img-responsive" />
        </div>
        <div class="col-md-6" >
            <img src="../bundles/app/img/test1.jpg" alt="" class="img-responsive" />
        </div>
    </div>
    <section class="box">
        <div class="container">
            <div>
                <h3>Бог Откривења – заједница Три Личности </h3>

    За разлику од религијског и философског поимања Бога, које увек полази од људских наслућивања,
    домишљања или рационалних закључивања, хришћанска вера јесте вера у Једнога Бога Који је Бог Откривења. 
    Бог се открива као Личност, односно као заједница Три Личности – Света Тројица. 
    Целокупно библијско Предање пружа недвосмислена сведочанства о јављању Једног тројичног Бога. 
    У Старом завету Бог се постепено објављивао као тројица; најпре у стварању света и човека: Да створимо човјека по обличјусвојему (Пост. 1, 26),
    а онда у виду три Анђела (Пост. 18, 2) којима се авраам обратио речју: Господе (Пост. 18, 3).
    Славу тројичног Бога видео је и Пророк Исаија (Ис. 6, 3).<br> У Новом Завету, при Крштењу Христовом,
    Бог се очигледно јавио као Света Тројица: Отац гласом (ово је Син мој љубљени, Мт. 3, 17), а Свети Дух у виду голуба.
    И не само да Отац и Свети Дух дају сведочанство о Сину, него, исто тако, Син сведочи о Оцу: Ко је видио мене видио је Оца (Јн. 14, 9), 
    а такође и о Светом Духу: Послаћу вам Духа Утјешитеља (Јн. 15, 26).<br>
    Постоје и многа друга места у Новом Завету у којима Личности Свете Тројице сведоче једна за другу. 
            </div>
        </div>
    </section>

    <div class="gallery">
        <img src="../bundles/app/img/110img.jpg" alt="" class="img-responsive" />		
    </div>
{% endblock %}


