{% extends "base.html.twig" %}


{% block body %}
    <div class="breadcrumb">
        <h2>Контакт</h2>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2834.1578663710607!2d19.700492665207555!3d44.73679597909901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475bcb3c0250c743%3A0xb63c516e0e4822d9!2z0KbRgNC60LLQsCDQodCy0LXRgtC1INGC0YDQvtGY0LjRhtC1!5e0!3m2!1ssr!2srs!4v1510150835487" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>	</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="recent">
                    <h3>Пошаљите нам поруку</h3>
                </div>		

                <div>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}

                </div>
            </div>

            <div class="col-lg-6">
                <div class="recent">
                    <h3>Ступите у контакт са нама</h3>
                </div>
                <div class="">
                    <p>Отворени смо за ваше сугестије и предлоге да учинимо летњиковац 
                        још лепшим за све нас.</p>


                    <h4>Адреса:</h4> Летњиковац Шабац | Поштански број 15000 <br>
                    <h4>Број телефона:</h4>015 392293</br>
                    <h4>Факс:</h4>123 456 789
                </div>										
            </div>			
        </div>
    </div>
{% endblock %}